<div class="container mx-auto mt-5">

    <div class="col-md-6 mt-2 mx-auto" style="height: 85vh;">
        <div>
            <h2 class="mt-5 text-primary fs-2 fw-bold">Històric de Lliuraments</h2>
        </div>

        <div style="height: 85%;" class="mt-5 overflow-auto">
            <div *ngIf="respuesta">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ respuesta }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div *ngFor="let item of listaEntregas; let i = index" class="py-2 px-2 mb-2 text-light bg-primary rounded">
                <div class="d-flex justify-content-around align-items-center">
                    <span>{{ item.numeroAlbaran }}</span>
                    <span>{{ item.serieAlbaran }}</span>
                    <span>{{ item.codigoAlmacen }}</span>
                </div>
                <div class="d-flex justify-content-around align-items-center">
                    <span>{{ item. codigoArticulo }}</span>
                    <span>{{ item.partida }}</span>
                    <span>{{ item.unidades }}</span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-transparent text-danger fs-1 fw-bold" [routerLink]="['../../lliuraments/0']"><i
                    class="bi bi-x-circle"></i></button>
        </div>
    </div>
</div>